@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #E57373;
  font-family: "Roboto", sans-serif;
  color: #FFCC66;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.header,
.footer {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 5px 10px #424949;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  font-weight: 400;
}

p,
button {
  font-size: 18px;
  font-weight: 500;
}

button {
  color: #424949
}

#sizeTxt {
  font-size: 24px;
  font-weight: 700;
  color: #eee;
}

.grid {
  background-color: #eee;
  display: grid;
  width: 600px;
  height: 600px;
  box-shadow: 0px 5px 10px #424949;
}

.pixel {
  user-select: none;
}

.controls {
  display: flex;
  min-width: 500px;
  align-items: center;
  justify-content: space-evenly;
}

input[type='range']::-webkit-slider-thumb:hover,
input[type='color']:hover,
button:hover {
  transform: scale(1.1);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 100px;
  height: 100px;
  border: none;
  background-color: #E57373;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px #424949;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: #E57373;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  border: none;
  border-radius: 25px;
  background-color: #eee;
  box-shadow: 0px 5px 10px #424949;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -5px;
  border-radius: 25px;
  background-color: #424949;
  box-shadow: 0px 5px 10px #424949;
}

.size {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0px 5px 10px #424949;
}

.reset {
  width: 100px;
  height: 100px;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px #424949;
}